@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 170 30% 97%;
    --foreground: 170 60% 20%;
    --card: 170 30% 98%;
    --card-foreground: 170 60% 20%;
    --popover: 170 30% 98%;
    --popover-foreground: 170 60% 20%;
    --primary: 170 60% 45%;
    --primary-foreground: 170 30% 98%;
    --secondary: 170 40% 85%;
    --secondary-foreground: 170 60% 20%;
    --muted: 170 30% 90%;
    --muted-foreground: 170 40% 40%;
    --accent: 158 100% 93%;
    --accent-foreground: 170 60% 20%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 170 30% 98%;
    --border: 170 30% 90%;
    --input: 170 30% 90%;
    --ring: 170 60% 45%;
    --radius: 0.5rem;
    --chart-1: 170 60% 45%;
    --chart-2: 150 65% 50%;
    --chart-3: 170 40% 85%;
    --chart-4: 170 60% 35%;
    --chart-5: 170 40% 75%;
  }

  .dark {
    --background: 170 60% 5%;
    --foreground: 170 30% 98%;
    --card: 170 60% 5%;
    --card-foreground: 170 30% 98%;
    --popover: 170 60% 5%;
    --popover-foreground: 170 30% 98%;
    --primary: 170 60% 45%;
    --primary-foreground: 170 60% 5%;
    --secondary: 170 40% 20%;
    --secondary-foreground: 170 30% 98%;
    --muted: 170 40% 20%;
    --muted-foreground: 170 40% 70%;
    --accent: 150 65% 50%;
    --accent-foreground: 170 60% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 170 30% 98%;
    --border: 170 40% 20%;
    --input: 170 40% 20%;
    --ring: 170 30% 98%;
    --chart-1: 170 60% 45%;
    --chart-2: 150 65% 50%;
    --chart-3: 170 40% 85%;
    --chart-4: 170 60% 65%;
    --chart-5: 170 40% 75%;
  }
}
